<main class="container imagen_formateada_contenedor">
  <h1 class="my-3">Imagen Formateada con Jimp</h1>
  <img
    src={{imagen}}
    alt="imagen"
    class="border border-success border-2 rounded p-1"
  />
</main>