<main class="container imagen_formateada_contenedor">
  <h1 class="my-3">Imagen Formateada con Jimp</h1>
  <img
    src="/images/{{imagen}}"
    alt="imagen"
    class="border border-success border-2 rounded p-1"
  />
  <button id="btn_volver_al_inicio" class="btn btn-primary mt-3">Volver a Inicio</button>
</main>